:root {
  --primary-color-blue: #2b7fff;
  --primary-color-dark-blue: #011c44;
  --primary-white: #fff;
  --secondary-color-yelow: #ffd02b;
  --secondary-color-blue: #011f4a;
  --secondary-color-light-gray: #747272;
  --secondary-color-gray: #4a4a4a;
}

$bp-mobile: 360px;
$bp-desktop: 1280px;
