.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 16px 0;

  @media screen and (min-width: $bp-desktop) {
    padding: 32px 0px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
  }

  &__logo {
    position: relative;
    z-index: 1;
    display: inline-block;
    color: var(--primary-color-blue);
    font-size: 16px;
    font-family: "Play", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    text-transform: capitalize;
    @media screen and (min-width: $bp-desktop) {
      color: var(--primary-color-blue);
      font-size: 22px;
      font-family: "Play", sans-serif;
      font-weight: 700;
      text-transform: capitalize;
    }
  }
  &__nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media screen and (min-width: $bp-desktop) {
      align-items: center;
    }
  }

  &__menu {
    display: none;
    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 56px;
    }
  }

  &__svg-icons {
    display: none;
    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 32px;
    }
  }

  &__svg {
    transition-duration: 1s;
  }

  &__svg:hover {
    transform: scale(1.2);
  }

  &__burger {
    position: relative;
    background-color: transparent;
    border: 0px;
    fill: var(--primary-white);
    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
