.mobile-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-white);
  transform: translateX(100%);
  transition-duration: 0.2s;

  z-index: 4;
  &.is-open {
    transform: translateX(0);
  }
}

.mobile__close {
  position: absolute;
  top: 22px;
  right: 22px;
  background-color: transparent;
  border: none;
}
