.why-us {
  &__wave {
    background-image: url(../images/background-choose.png);
    background-repeat: no-repeat;
    background-size: contain 100%;
    background-position: top center;
    margin-top: -120px;
    padding-top: 120px;

    @media screen and (min-width: $bp-desktop) {
      margin-top: -200px;
      padding-top: 200px;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    line-height: 1.18;

    @media screen and (min-width: $bp-desktop) {
      color: var(--primary-color-dark-blue);
      font-family: "Play", sans-serif;
      font-size: 64px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 48px;
    }
  }

  &__title--blue {
    font-size: 32px;
    color: var(--primary-color-blue);
    font-weight: 500;
    display: block;
    text-align: center;
    margin-bottom: 24px;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      color: var(--primary-color-blue);
      font-family: "Play", sans-serif;
      font-size: 64px;
      font-weight: 700;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    @media screen and (min-width: $bp-desktop) {
      width: 100%;
      max-width: 1060px;
      display: flex;

      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
    }
  }

  &__card {
    width: 316px;
    height: 181px;
    text-align: center;
    font-weight: 400;
    background-color: var(--primary-white);
    border-radius: 32px;
    padding: 24px 32px;
    fill: var(--primary-color-blue);
  }

  &__card-text {
    width: 252px;
    line-height: 1.6;
    text-align: center;
  }
}
